/* ESTILO DE LOS ELEMENTOS COMUNES A TODAS LAS PÁGINAS O A VARIAS*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
	line-height:1,33;
	width:100%;
	height:100%;
	background-color:white;
	position: relative;
	min-height: 100%;
	overflow-x:hidden;
	background-color: #303440;
}
body{
	height:auto;
	width:100%;
	margin:0;
	display:inline-block;
	float:left;
	background-color: #fcfcfc;
	position: absolute;
    font-family: "Lato", arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    	}

h1 {
	font-family: 'Montserrat' !important, sans-serif;
	font-size:1.5rem;
	margin-top:0.4rem;
}

.contenedor_todo{
	width:100%;
	height:100%;
	margin-bottom:0 !important;
	padding-bottom:1px !important;
}

#barra_titulo{
	background:#303440;
	color:#f7f7f7;
	font-size:1rem;
	padding-top:0.1rem;
	padding-bottom:0.1rem;
	margin:0 0 0.05rem 0;
	font-family: "Montserrat", arial, sans-serif;
	}
.logo_visu, .logo_exea{
	width:auto;
	height:3.6em;
	margin:10px;
	}
#texto_subtitulo {
	font-size:1.7rem;
	margin:0 auto 0.6rem;
	padding:0 auto 0.6rem;
	font-family: "Montserrat", arial, sans-serif;
	text-align: center;
}

.grupo_btn_idioma_cerrar{
	padding-bottom:0.6rem;

}

.btn_idioma,.btn_idioma_sel {
	font-family: 'Roboto' !important, sans-serif;
	font-size:1em;
	margin:0.1em;
	padding:0.1em;
	cursor:pointer;
	border:1px solid #bfbfbf;
	border-radius: 10%;
}



.btn_idioma{
    background-color: transparent;
    color:#E0E0E0;
	}
.btn_idioma:hover, .btn_idioma:active, .btn_idioma_sel {
    background-color: #bfbfbf;
    color:trasparent;
	}

.texto_btn_general{
	margin:0;
	padding:0 auto;
	font-weight: 400;
}

.btn_general{
	font-family: 'Roboto' !important, sans-serif;
	margin:0.1em;
	padding:0.25em 0.25em 0;
	cursor:pointer;
	}

.btn_general:focus {outline: none; box-shadow: none;}
.acercade_titulo{
	font-family: 'Roboto' !important, sans-serif;
	background: #383838;
	color:#f7f7f7;
	font-size:0.8em;
	padding:0.8em 0 0.4em 1em;
	text-align: center;	
	text-decoration: none;
	border-radius:0.2em;
}
.boton_cerrar{
	color:white;
	text-shadow:none;
	cursor:pointer;
	font-weight:400;
}
.boton_cerrar:link {
	color:white;
	text-shadow:none;
	cursor:pointer;
}
.boton_cerrar:visited, .boton_cerrar:active, .boton_cerrar:hover   {
	color:white;
	text-shadow:none;
}
 .acercade_body{
	background-color:#c9c9c9;
	color:#2d2d2d;
}

.texto_acercade{
	font-family: 'Roboto' !important, sans-serif;
	font-size:1em;
	padding:0.6em;
	margin-bottom:0;
	text-align: justify;	
}

.acercade_footer{
	background-color:#a5a5a5;
	color:#2d2d2d;
	padding:0.3em;
	margin:0;
}
.acercade_body{
	background-color:#c9c9c9;
	color:#2d2d2d;
}
.acercade_footer{
	background-color:#a5a5a5;
	color:#2d2d2d;
	padding:0.3em;
	margin:0;
}

.acercade_btn_cerrar{
	font-family: 'Roboto' !important, sans-serif;
	font-size:1em;
	margin:0em;
	padding:0.25em;
	cursor:pointer;
}
.acercade_btn_cerrar:focus {
	outline: none;
	box-shadow: none;
	border:2px solid transparent;
}


/*footer{
display:flex;
flex-wrap:wrap;
}

.piefull{ margin: 10px auto 0; padding: 50px 30px ;  background-color: #292929;
 font-family: "Montserrat-Light", arial, sans-serif !important;
 font-size: 1.2rem;
 font-weight: 300;}


.pie2, .pie3, .pie2 a, .pie2 a:hover{ color: #fff; text-decoration: none !important;}

.pie1, .pie3 {
  color:#767676;
  font-size: 1.2rem; 
  text-align: center; 
  font-weight: 300 !important;
  line-height: 1.8;
}
.pie3{margin-top: 10px;}


ul.pie li{
    text-decoration: none;
    list-style:none;
    text-align: left; 
     } 

.pie2 li {
	  border-bottom: 1px solid #494949;
	  border-right: 1px solid white;
	  width: 180px;
	  padding:10px ;
	  }

.pie2 li:hover{background-color: rgba(73, 73, 73, .4)}


.pie_logos{text-align: center !important;}
.pie_logos img.imgpie area{text-decoration: none !important; }
.pie_logos img.imgpie area:active{text-decoration: none !important; }


.imgpie:hover{ text-decoration: none;}
area:hover{text-decoration: none;}
.col-12.pie_logos:active{text-decoration: none !important; }

.pie5{ padding: 40px auto;    }
.pie_logos img.imgpie area, .pie_logos img.imgpie area:active{text-decoration: none !important; }


hr.linepie{border-top: 1px solid #494949; width: 96%;}

*/
/*==============================================================*/


footer{
display:flex;
flex-wrap:wrap;
}

.piefull{ margin: 10px auto 0; padding: 50px 30px ;  background-color: #292929;
 font-family: "Montserrat", arial, sans-serif !important;
 font-size: 1rem;
 font-weight: 300;}


.pie2, .pie3, .pie2 a, .pie2 a:hover{ color: #fff; text-decoration: none !important;}

.pie1, .pie3 {
  color:#767676;
  font-size: 1rem; 
  text-align: center; 
  font-weight: 300 !important;
  line-height: 1.8;
}



.pie_logos{text-align: center !important;}
.pie_logos img.imgpie area{text-decoration: none !important; }
.pie_logos img.imgpie area:active{text-decoration: none !important; }


.imgpie:hover{ text-decoration: none;}
area:hover{text-decoration: none;}
.col-12.pie_logos:active{text-decoration: none !important; }

.pie5{ padding: 40px auto;    }
.pie_logos img.imgpie area, .pie_logos img.imgpie area:active{text-decoration: none !important; }


hr.linepie{border-top: 1px solid #494949; width: 96%;}


.pieend {
  padding-top: 2%;
  padding-bottom: 0;
  text-align: center;
    }


p.end{font-size:.8em; color:white; font-family: 'Lato', sans-serif;}


.pie2{
  display:flex;
    justify-content:center;
    align-self: center;
  }

ul.ulpie2 li{
    text-decoration: none;
    list-style:none;
    text-align: left; 
    border-right: 1px solid rgba(255, 255, 255);
     } 

.ulpie2 li {border-bottom: 1px solid #494949; padding:10px ; }

.ulpie2 li:hover{background-color: rgba(73, 73, 73, .4)}





